@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700;800&display=swap');

:root {
    --Gray900: #101828;
    --Gray700: #344054;
    --Gray500: #667085;
    --Gray300: #D0D5DD;

    --Primary600: #7F56D9;
    --Primary400: #B692F6;
    --Primary300: #D6BBFB;
    --Primary200: #E9D7FE;
    --Primary100: #F4EBFF;
    --Primary25: #FCFAFF;

    --Error500: #F04438;
    --Error300: #FDA29B;
    --Error100: #FEE4E2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--Gray900);
    font-family: 'Inter', sans-serif;
}

body {
    background: rgb(182,146,246);
    background: linear-gradient(177deg, rgba(182,146,246,1) 28%, rgba(233,215,254,1) 100%);
}

p:last-child {
    font-size: 0.8rem;
    color: var(--Gray500);
}

a {
    color: var(--Primary600);
}

.illustration {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: white;
    height: 100vh;
}

img {
    display: none;
}

.form>p {
    color: var(--Gray500);
    font-weight: 400;
    line-height: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset {
    display: flex;
    gap: 16px;
    border: none;
}

.inputField {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

h2 {
    font-weight: 700;
    font-family: 'Sora', sans-serif;
}

label {
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--Gray700);
}

input {
    border: 1px solid var(--Gray300);
    border-radius: 8px;
    padding: 10px 14px;
}

input:focus {
    border: 1px solid var(--Primary300);
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05), 0 0 0 4px var(--Primary100);
    outline: none;
}

input:not(:placeholder-shown):not(:focus):valid {
    border: 1px solid var(--Primary300);
    background-color: var(--Primary25);
}

input:not(:placeholder-shown):not(:focus):invalid{
    border: 1px solid var(--Error300);
    background-color: var(--Error100);
}

button {
    background-color: var(--Primary600);
    color: white;
    border: 1px solid var(--Primary600);
    border-radius: 8px;
    padding: 10px 18px;
}

@media (min-width: 1000px) {
    main {
        display: flex;
    }

    h1 {
        font-weight: 800;
        font-size: 2.5rem;
        margin-top: 42px;
        font-family: 'Sora', sans-serif;
        color: var(--Primary100);
    }

    .illustration {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        width: 35vw;
    }

    .illustration>p {
        z-index: 1;
    }

    img {
        display: block;
        max-height: 100vh;
        width: 50vw;
        position: absolute;
        left: -24px;
    }

    .form {
        width: 65vw;
        border-bottom-left-radius: 42px;
        border-top-left-radius: 42px;
        padding: 12%;
        justify-content: center;
        gap: 32px;
    }

    form {
        gap: 32px;
    }

    button {
        margin-right: auto;
    }
}